body {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

input {
    width: 100%;
}

.search-bar {
    width: 50%;
    height: 50px;
    border: none;
    padding: 0 20px;
}

.form-control::-webkit-input-placeholder {
    color: #bbb;
}

.app {
    display: flex;
    justify-content: center;
}

.header {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 30px;
}

.git-link {
    position: absolute;
    top: 20px;
    right: 20px;
}

.icon-git {
    width: 60px;
    transition: all .3s ease-in-out;
}

.icon-git:hover {
    transform: rotate(360deg) scale(1.2);
}

.content {
    margin-top: 220px;
    width: 50%;
    padding: 20px;
}

.sort-container {
    font-size: 12px;
    width: 50%;
}

.list-item {
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 15px 0px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    transition: all .3s ease-in-out;
}

.list-item:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 30px 60px 5px;
    transform: scale(1.05);
}

.main-text {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}

.sub-text {
    color: gray;
    font-size: 14px;
}

.data-container {
    width: 70%;
}

.icons-container {
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.icon {
    width: 25px;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
}

.cross {
    position: absolute;
    top: -12px;
    right: -18px;
}

.pin {
    display: inline-block;
    background: #48a3b8;
    color: white;
    padding: 0 4px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
}

.pin:hover {
    background: #4092A5;
}

.pin-second {
    background: #6A6E70;
}

.pin-second:hover {
    background: #5A6268;
}

.error {
    color: red;
}

.person-details {
    border: 1px solid #dee2e6;
    padding: 10px;
}

.details-header {
    font-size: 14px;
}


@media only screen and (max-width: 1000px) {
    .content {
        width: 70%;
    }

    .search-bar {
        width: 70%;
    }

    .sort-container {
        width: 70%;
    }

    .icon {
        width: 20px;
        margin: 0 4px;
    }

    .cross {
        top: -9px;
        right: -14px;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        width: 90%;
    }

    .search-bar {
        width: 90%;
    }

    .sort-container {
        width: 90%;
    }
}